# ── Servidor ──────────────────────────────────────
PORT=5000
NODE_ENV=development

# ── MongoDB Atlas ──────────────────────────────────
MONGODB_URI=mongodb+srv://<usuario>:<password>@flujo-cluster.h6ykudf.mongodb.net/excel-cursos?retryWrites=true&w=majority&appName=flujo-cluster

# ── JWT ───────────────────────────────────────────
JWT_SECRET=cambia_esto_por_una_clave_segura_larga
JWT_EXPIRES_IN=7d

# ── Bunny.net ─────────────────────────────────────
BUNNY_API_KEY=tu_bunny_api_key
BUNNY_LIBRARY_ID=tu_library_id
BUNNY_CDN_HOSTNAME=tu-zona.b-cdn.net
BUNNY_TOKEN_AUTH_KEY=tu_token_seguridad_bunny

# ── Email (nodemailer) ────────────────────────────
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_app_password_gmail

# ── Admin ─────────────────────────────────────────
ADMIN_EMAIL=admin@tucorreo.com
ADMIN_SECRET=clave_para_crear_primer_admin

# ── Frontend URL (CORS) ───────────────────────────
CLIENT_URL=http://localhost:5173
